 * {
     box-sizing: border-box;
 }

 html {
     --font-family: sans-serif;
     --background-colour: #4A1A8B;
     --form-field-background-color: #2b124A;
     --font-colour: #ffffff;
 }

 body {
     margin: 0px;
     font-family: var(--font-family);
     background-color: var(--background-colour);
     color: var(--font-colour);
 }

 .navbar {
     width: 100%;
 }

 .nav {
     height: 50px;
     width: 100%;
     position: relative;
 }

 .nav>.nav-header {
     display: inline;
 }

 .nav>.nav-header>.nav-title {
     font-family: 'Sofia', sans-serif;
     display: inline-block;
     font-size: 2rem;
     font-display: swap;
 }


 .nav>.nav-header>.nav-title>a {
     text-decoration: none;
     color: #ffffff;
 }


 .login-page {
     width: 100%;

 }

 .title {
     text-align: center;
     font-size: var(--header-title-font-size);
 }

 .container {
     width: 100%;
     margin: 0 auto;
     padding: 0;
 }