RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index$ index.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^signup$ signup.php [L]
RewriteRule ^choice$ choice.php [L]
RewriteRule ^personal-portfolio$ personal-portfolio.php [L]
RewriteRule ^404$ 404.php [L]

RewriteRule ^([a-zA-Z0-9_]+)$ profile/ [NC]
RewriteRule ^([a-zA-Z0-9_]+)/$ profile/ [NC]
RewriteRule ^([a-zA-Z0-9_]+)/about$ profile/about.php [NC]