.login-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 1rem 1rem 1rem;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.login-signup-form,
.account-status {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #2b124A;
    text-align: center;
}

.account-status {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-control {
    padding: 1rem;
    text-align: left;
}

.form-control label {
    font-size: 1.8rem;
}

input {
    width: 100%;
    border: none;
    padding: 1rem;
    outline: none;
    border-radius: 0.5rem;
    position: relative;
}

input:focus {
    outline: none;
    border: 0.3rem solid #1974c8;
}

a:visited {
    color: #ffffff;
}

button {
    width: 100%;
    border: none;
    color: #ffffff;
    padding: 0.8rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: #5B4AA1;
}

@media only screen and (min-width: 614px) {

    .login-signup-form,
    .account-status {
        margin: 0 20%;
    }
}


@media only screen and (min-width: 900px) {

    .login-signup-form,
    .account-status {
        margin: 0 30%;
    }
}