@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    font-family: sofia, open-sans, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.hamburger-container {
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 0.5rem;
}

.hamburger {
    display: block;
    border-radius: 0.5rem;
}

.hamburger-container:focus,
.hamburger-container:hover {
    background-color: #0000004d;
}

#nav-check {
    display: none;
}

.hamburger-line {
    display: block;
    width: 2.5rem;
    height: 1rem;
    border-top: 0.2rem solid #ffffff;
}

.nav {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 1;
}

.nav-links {
    text-align: left;
    position: fixed;
    top: 4.5rem;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in;
    overflow-y: hidden;
    background-color: #4A1A8B;
}

.nav-links li {
    display: block;
    list-style: none;
}

.nav-links a {
    padding: 1.2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 2rem 0;
}

.nav-links a:hover {
    background-color: #0000004d;
}

#nav-check:not(:checked)~.nav-links {
    height: 0;
}

#nav-check:checked~.nav-links {
    height: calc(100vh - 5rem);
    overflow-y: auto;
}

@media screen and (min-width: 614px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hamburger-container {
        display: none;
    }

    .nav-links {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        overflow-y: visible;
        transition: none;
    }

    .nav-links li {
        margin: 0 1rem;
    }

    .nav-links li a {
        font-size: 1.6rem;
    }
}