.title {
    font-size: 1.2rem;
    text-align: center;
}

.main {
    align-items: center;
    text-align: center;
}

.form-field {
    background-color: #2b124A;
    border-radius: 1rem;
}

.information-form {
    padding: 1rem;
}

.form-control {
    padding: 1rem;
    text-align: left;
}

.name-area {
    display: block;
}

input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border-radius: 0.5rem;
}

input:focus {
    border: 2px solid #1974c8;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-height: 15rem;
    resize: vertical;
    border-radius: 0.5rem;
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i {
    margin-right: 1rem;
}

.project {
    font-size: 12px !important;
    border: 1px solid #e4dede41;
    border-radius: 0.5rem;
    padding: 1rem;

}

.certificate {
    font-size: 12px !important;
    border: 1px solid #e4dede41;
    border-radius: 0.5rem;
    padding: 1rem;
}

i[class*="fa-question"] {
    color: #08ff31;
    cursor: pointer;
    float: right;
}

button {
    width: 100%;
    border: none;
    padding: 0.8rem;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: #5B4AA1;
}

@media screen and (min-width: 614px) {
    .form-field {
        margin: 10%;
    }

    .name-area {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .form-field {
        margin: 0 20%;
    }
}