.main {
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.template-container {
    display: block;
    border: 1px solid #e4dede41;
}

.template {
    border: 1px solid #e4dede41;
    margin: 1rem;
}

.template-title {
    font-size: 25px;
    margin: 1rem;
}

.template-title a {
    text-decoration: underline;
    color: #fff;
}

.template-description {
    font-size: 1.4rem;
    margin: 1rem;
}

.template-image {
    margin: 1rem;
}

.template-image img {
    width: 85%;
    height: auto;
}


@media screen and (min-width: 988px) {
    .template-container {
        display: flex;
        justify-content: space-around;
    }

    .template {
        width: 50%;
    }

    .template-image img {
        width: 85%;
        height: auto;
    }
}