.nav {
    height: 50px;
    width: 100%;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    font-family: Sofia, "Open Sans";
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 1.3rem 1rem 1.3rem 1rem;
    text-decoration: none;
    color: #fff;
}

.nav>.nav-links>a:hover {
    border-radius: 0.5rem;
    background-color: #0000004d;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0rem;
        top: 0rem;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        border-radius: 0.5rem;
        width: 5rem;
        height: 5rem;
        padding: 1.3rem;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #0000004d;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 2.5rem;
        height: 1rem;
        border-top: 0.2rem solid #ffffff;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #4A1A8B;
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 5rem;
        left: 0;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 5rem);
        overflow-y: auto;
    }
}